<div class="text-center">
    <div class="card">
        <div class="card-header element">
            <h1>Bienvenido</h1>
            <small>
                Sistema de ventas Web
            </small>
        </div>
        <hr>
        <div class="card-body list">

            <div class="col">
                <h4>Consultar Clientes</h4>
                <a href="./clientes" class="btn btn-success">
                    <i class="fa fa-arrow-users"></i> Clientes
                </a>
            </div>
            <div class="col">
                <h4>Realizar Ventas</h4>
                <a href="./ventas" class="btn btn-info">
                    <i class="fa fa-arrow-users"></i> Ventas
                </a>
            </div>
            <div class="col">
                <h4>Consultar Productos</h4>
                <a href="./productos" class="btn btn-warning">
                    <i class="fa fa-arrow-users"></i> Productos
                </a>
            </div>
            <div class="col">
                <h4>Buscar Informes</h4>
                <a href="./informes" class="btn btn-secondary">
                    <i class="fa fa-arrow-users"></i> Informes
                </a>
            </div>

        </div>

    </div>
</div>