<header>
    <nav class="navbar  navbar-expand navbar-dark bg-primary navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item text-white ">
                        <a class="navbar-brand" href="./home">
                            <i class="fa fa-store fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item text-white">
                        <h2>SHOP APP</h2>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link active" aria-current="page" href="./clientes">Clientes</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link active" aria-current="page" href="./ventas">Ventas</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link active" aria-current="page" href="./productos">Productos</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link active" aria-current="page" href="./informes">Informes</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {{fecha | date: 'fullDate' }}
                </span>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="container-fluid home">
        <router-outlet></router-outlet>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWzIp_XISpbfVLoEIlMNZ_jhpJRmwCO2k&callback=initMap&libraries=&v=weekly" async></script>

</body>

<!-- <footer>
    <div class="foo">
        © 2021 Copyright: Sergio Gómez
    </div>
</footer> -->